<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Aren't 1337</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Well Then</h1>
        <h5 class="text-center">I don't like you anyway</h5>
        <hr class="row">        
        <div class="text-center">
            <div class="text-center">                 
            </div> 
            <div class=" text-center">
                <p class=text-center>But if you <a href="RSVP">>>CLick Here<<</a> to RSVP for <em>real</em> if you don't want to miss the party of the MILLENIA</p>
            </div>
        </div>
    </div>
</body>

</html>